<h1 style="color:blue;">Ingrese datos</h1>
<br>

<form action="/productos" method="post">

    <div class="form-group">
        <label for="nombre"><b>Producto</b></label>
        <input id="nombre" class="form-control" type="text" name="nombre">
    </div>

    <div class="form-group">
        <label for="imagen"><b>Imagen</b></label>
        <input id="imagen" class="form-control" type="text" name="imagen">
    </div>

    <div class="form-group">
        <label for="precio"><b>Precio</b></label>
        <input id="precio" class="form-control" type="number" name="precio">
    </div>

    <button class="btn btn-success mt-3 mb-5">Enviar</button>
</form>

<h2 style="color:crimson;">Lista</h2>

{{#if productos }} 
    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: yellow;"> <th>Producto</th> <th>Imagen</th> <th>Precio</th> </tr>
             {{#each productos}}
            <tr>
                <td>{{nombre}}</td>
                <td><img style="width:80px;height:80px"alt="sin imagen"src="{{imagen}}"></td>
                <td>${{precio}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
{{else}} 
    <h3 class="alert alert-danger">no se encontraron datos</h3>
{{/if}}