extends layout 

block renderizar
    div(class="jumbotron")
        h1(style="color:blue;") Ingrese el producto
        br

        form(action="/productos" method="post")

            div(class="form-group")
                label(for="nombre") <b>Nombre</b>
                input(id="nombre" class="form-control" type="text" name="nombre")
        

            
        
            div(class="form-group")
                label(for="imagen") <b>Imagen</b>
                input(id="imagen" class="form-control" type="text" name="imagen")
            
            div(class="form-group")
                label(for="precio") <b>Precio</b>
                input(id="precio" class="form-control" type="number" name="precio")
            

            button(class="btn btn-success mt-3 mb-5") Enviar

        - const leyenda = "No se encontraron datos"
        h2(style="color:crimson;") Lista

            if productos.length > 0 
                div(class="table-responsive")
                    table(class="table table-dark")
                        tr(style="color: yellow") 
                            th Nombre 
                            th Imagen 
                            th Precio

                        each producto in productos
                            tr
                                td!=producto.nombre
                                td
                                    img(style="width: 80px;" src!=producto.imagen, alt="sin imagen")
                                td!= "$"+ producto.precio          
                            
            else 
                h3(class="alert alert-danger")=leyenda